/*
 * @Author: huJiaFu 
 * @Date: 2017-09-15 16:37:36 
 * @Last Modified by: huJiaFu
 * @Last Modified time: 2017-09-23 22:12:32
 */

.panel-body {
    padding: 10px;
}

.form-line {
    height: 40px;
    line-height: 40px;
}

.input {
    height: 20px;
    line-height: 20px;
}