<div class="footer">
  <div class="w">
    <div class="links">
      <a href="https://www.baidu.com" target="_blank" class="link">baidu</a>
      <a href="https://www.taobao.com" target="_blank" class="link">taobao</a>
      <a href="https://www.zhihu.com" target="_blank" class="link">zhihu</a>
      <a href="https://www.github.com" target="_blank" class="link">github</a>
    </div>
    <p class="copyright">
      copyright © 2017 happymmall.com All Right Reserved
    </p>
  </div>
</div>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
