/*
 * @Author: huJiaFu 
 * @Date: 2017-09-15 16:37:36 
 * @Last Modified by: huJiaFu
 * @Last Modified time: 2017-09-18 23:21:00
 */
 
 body {
   background: #ccc;
   color: red;
   font-size: 32px;
 }