/*
 * @Author: huJiaFu 
 * @Date: 2017-09-15 16:37:36 
 * @Last Modified by: huJiaFu
 * @Last Modified time: 2017-09-18 15:40:27
 */
 
 body {
   background: url('../../image/4 - IRqEe.jpg') center center no-repeat;
   color: red;
   font-size: 32px;
 }